.foodsContainer {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-flow: wrap;

}

.foodsContainer .card {
    max-width: 20%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
}

.foodsContainer .card img{
    max-width: 100%;
}