.footer-container {
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-align: center;
}

.red-social{
    color: #38393b;
    width: 100%;
}

.footer-container .red-social i{
    align-items: center ;
    display: inline-block;
}  

.red-social i{
    font-size: 23px;
    padding: 1%;
    color: #2a3232;
}